@use '../../../styles/colors.scss';
@use '../../../styles/breakpoints.scss';

.container {
  display: flex;
  gap: 2.5rem;

  @include breakpoints.size(laptop) {
    gap: 1.5rem;
  }

  @include breakpoints.size(desktop) {
    gap: 2.5rem;
  }
}

.icon {
  width: 2.3rem;
  height: 2.3rem;

  @include breakpoints.size(laptop) {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
  }
  @include breakpoints.size(desktop) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
