//Din Condensed Styles

//Condensed Bold
@font-face {
  font-family: 'Din-Condensed-Bold';
  src: url(./fonts/DiCnBd.ttf) format('ttf');
}

//Condensed Black

@font-face {
  font-family: 'Din-Condensed-Black';
  src: url(./fonts/DiCnBk.ttf) format('ttf');
}

//Condensed Light

@font-face {
  font-family: 'Din-Condensed-Light';
  src: url(./fonts/DiCnLg.ttf) format('ttf');
}

//Condensed Medium
@font-face {
  font-family: 'Din-Condensed-Medium';
  src: url(./fonts/DiCnMd.ttf) format('ttf');
}

//Condensed Regular
@font-face {
  font-family: 'Din-Condensed-Regular';
  src: url(./fonts/DiCnRg.ttf) format('ttf');
}

/////////////////////////////////
///

//Din Regular Styles

// Din Bold
@font-face {
  font-family: 'Din-Bold';
  src: url(./fonts/DINBd___.ttf) format('ttf');
}

// Din Bold Italic
@font-face {
  font-family: 'Din-Bold-Italic';
  src: url(./fonts/DINBdIt_.ttf) format('ttf');
}

// Din Black
@font-face {
  font-family: 'Din-Black';
  src: url(./fonts/DINBk___.ttf) format('ttf');
}

// Din Black Italic
@font-face {
  font-family: 'Din-Black-Italic';
  src: url(./fonts/DINBkIt_.ttf) format('ttf');
}

// Din Light
@font-face {
  font-family: 'Din-Light';
  src: url(./fonts/DINLi___.ttf) format('ttf');
}

// Din Light Italic
@font-face {
  font-family: 'Din-Light-Italic';
  src: url(./fonts/DINLtIt_.ttf) format('ttf');
}

// Din Medium
@font-face {
  font-family: 'Din-Medium';
  src: url(./fonts/DINMd___.ttf) format('ttf');
}

// Din Medium Italic
@font-face {
  font-family: 'Din-Medium-Italic';
  src: url(./fonts/DINMdIt_.ttf) format('ttf');
}

// Din Regular
@font-face {
  font-family: 'Din-Regular';
  src: url(./fonts/DINRg___.ttf) format('ttf');
}

// Din Regular Italic
@font-face {
  font-family: 'Din-Regular-Italic';
  src: url(./fonts/DINRgIt_.ttf) format('ttf');
}
