/* Project Colors*/

$baseWhite: #fff;
$baseBlack: #111827;

$textTitle: #111827;
$textParagraph: rgb(75, 85, 99);
$highlight: #4f46e5;

/*Grays*/
$baseGray: rgb(75, 85, 99);
$mediumGray: #9ca3af;
$lightGray: #d1d5db;

/* $secondaryHighlight:222222; */
