/* Project Colors*/

$baseWhite: #fff;
$baseBlack: #111827;

$textTitle: #111827;
$textParagraph: #4b5563;
$highlight: #4f46e5;

/*Grays*/
$baseGray: #4b5563;
$mediumGray: #9ca3af;
$lightGray: #d1d5db;

/* $secondaryHighlight:222222; */
