/* Project Colors*/

$baseWhite: #ffffff;
$baseBlack: #000000;

$baseGray: #272727;
$mediumGray: #99a9c2;
$lightGray: rgb(192, 208, 232);

$blue: #18253a;
$blueVariant: #19263a;

$highlight: #e94d2f;
$lightHighlight: #e97e2d;
