@use './colors.scss';
@use './breakpoints.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

@import './fonts';

* {
  scroll-behavior: smooth;
  cursor: default;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

svg {
  //This min width is used as fallback to always render the Icon if the mistake of not declaring parent widht is done!
  min-width: 1rem;
  width: inherit;
  height: inherit;
}

svg,
path {
  cursor: inherit;
}

body {
  background-color: white;
  scrollbar-width: 8px;
  scrollbar-base-color: transparent;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  /* display: none; Remove scrollbar for Chrome, Safari, and Opera */
  width: 8px;
  background: #dcdafa;
}

body::-webkit-scrollbar:hover {
  background: #9590ef;
}

body::-webkit-scrollbar-thumb {
  background: colors.$mediumGray;
}

.noScroll {
  overflow-y: hidden;
}

/*Global Style for all page sections to declare maximum width in every viewport size and center with margin auto and some padding. Used was a wrapper for whole web. Can be avoided by using divs in Layout.astro with bodyWrapper class and leaving desired elements outside of it. This way I can for example have a section with a background in anoterh color or a picture that occuipes the whole screen width.*/

.bodyWrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  overflow-x: hidden;

  @include breakpoints.size(phoneL) {
    max-width: 640px;
  }
  @include breakpoints.size(tablet) {
    max-width: 768px;
  }
  @include breakpoints.size(laptop) {
    max-width: 1024px;
  }
  @include breakpoints.size(desktop) {
    max-width: 1600px;
  }
}

/*****************/
/*BUTTON STYLING*/
/***************/

.stdButton {
  display: inline-flex;
  padding: 0.7rem 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 0.25rem;
  border-width: 0;
  transition: all 0.3s ease-in-out;
  letter-spacing: 3px;
}

.stdButton:hover {
  transition: all 0.3s ease-in-out;
  filter: brightness(120%);
}

/*****************/
