@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
  scroll-behavior: smooth;
  cursor: default;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
}

.noScroll {
  overflow-y: hidden;
}

.sectionWrapper {
  width: 100%;
  padding: 6rem 2rem;
  margin: 0 auto;
}

.footerWrapper,
.headerWrapper {
  width: 100%;
  padding: 2rem 1.25rem;
  margin: 0 auto;
}

.headerWrapper {
  padding: 0rem 3rem;
}

@media screen and (min-width: 640px) {
  .sectionWrapper,
  .footerWrapper,
  .headerWrapper {
    max-width: 640px;
  }

  .sectionWrapper {
    padding: 6rem 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .sectionWrapper,
  .footerWrapper,
  .headerWrapper {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .sectionWrapper,
  .footerWrapper,
  .headerWrapper {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1536px) {
  .sectionWrapper,
  .footerWrapper,
  .headerWrapper {
    max-width: 1536px;
  }
}
