@use './breakpoints.scss';
@use './colors.scss';

/*****************/
/*SECTION STYLE**/
/***************/

@mixin wrapper {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include breakpoints.size(phoneL) {
    padding: 6rem 1.25rem;
  }
}

@mixin title {
  color: colors.$highlight;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1px;

  @include breakpoints.size(phoneL) {
    font-size: 2.5rem;
  }
}

@mixin text {
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.625;

  @include breakpoints.size(laptop) {
    width: 66.666667%;
  }
}

/*****************/
