@use '../../../styles/colors.scss';
@use '../../../styles/breakpoints.scss';

.menuIcon {
  width: 2rem;
  z-index: 5;

  @include breakpoints.size(tablet) {
    display: none;
  }
}

.menuIcon:hover {
  cursor: pointer;
}

/*3 lines created and then animated - Set Color, height, radius,etc*/

.menuIcon:before,
.menuIcon:after,
.menuIcon div {
  background: colors.$highlight;
  content: '';
  display: block;
  height: 3px;
  border-radius: 3px;
  margin: 7px 0 7px 0;
  transition: 0.5s;
}

/*Two lines rotate and one dissapears when adding this classes*/

.menuIconActive:before {
  transform: translateY(10px) rotate(45deg);
}
.menuIconActive:after {
  transform: translateY(-10px) rotate(-45deg);
}
.menuIconActive div {
  transform: scale(0);
}
