@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss';

.plan {
  padding: 1rem;
  width: 100%;
}

.planCenter {
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
  flex-direction: column;
  height: 100%;
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: colors.$lightGray;
}

.planCenterPopular {
  border-color: #6366f1;
}

.name {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.price {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: colors.$baseBlack;
  font-size: 3rem;
  line-height: 1;
  line-height: 1;
  border-bottom-width: 1px;
  border-color: colors.$lightGray;
  display: flex;
  align-items: center;
}

.paymentTag {
  margin-left: 0.25rem;
  color: #6b7280;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.featuresContainer {
  margin-bottom: 1rem;
}

.feature {
  display: flex;
  margin-bottom: 0.5rem;
  color: colors.$baseGray;
  align-items: center;
}

.iconContainer {
  display: inline-flex;
  margin-right: 0.5rem;
  background-color: colors.$mediumGray;
  color: colors.$baseWhite;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
}

.icon {
  width: 0.75rem;
  height: 0.75rem;
}

.btn {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: auto;
  background-color: #9ca3af;
  color: #ffffff;
  align-items: center;
  width: 100%;
  border-radius: 0.25rem;
  border-width: 0;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #6b7280;
    transition: all 0.2s ease-in-out;
  }
}

.popularBtn {
  background-color: #6366f1;
  &:hover {
    background-color: #4f46e5;
    transition: all 0.2s ease-in-out;
  }
}

.disclaimer {
  margin-top: 0.75rem;
  color: #6b7280;
  font-size: 0.75rem;
  line-height: 1rem;
}

.popularTag {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #6366f1;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  border-bottom-left-radius: 0.25rem;
}
