@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/section.scss';

.section {
  @include section.wrapper;
  overflow: hidden;
}

/*Header section Style*/

.headerTitle {
  @include section.title;
}

.headerContainer {
  display: flex;
  margin-bottom: 3rem;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.headerText {
  @include section.text;
}
