@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss';

.headerBtnContainer {
  display: flex;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
  border-width: 2px;
  border-color: colors.$highlight;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: colors.$highlight;
    filter: brightness(120%);
  }
}

.headerBtn {
  padding: 0.4rem 1rem;
  z-index: 1;
}
