---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Team from '../components/Team.astro';
import Contact from '../components/Contact.astro';
import Testimonials from '../components/testimonial/Testimonials.astro';
import Pricing from '../components/pricing/Pricing.jsx';
---

<Layout title="Brasa Demo Template">
  <main>
    <Hero />
    <Features />
    <Pricing client:load />
    <Testimonials />
    <Team />
    <Contact />
  </main>
</Layout>
