---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Team from '../components/Team.astro';
import Contact from '../components/Contact.astro';
import Testimonials from '../components/Testimonials.astro';
import Pricing from '../components/Pricing.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Features />
    <Pricing />
    <Testimonials />
    <Team />
    <Contact />
  </main>
</Layout>
