---
import LayoutV2 from '../layouts/LayoutV2.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ScrollBtn from '../components/scrollBtn/ScrollBtn';
import HeroCenter from '../components/HeroCenter.astro';
import Features from '../components/Features.astro';
import Team from '../components/team/Team.astro';
import Contact from '../components/Contact.astro';
import Testimonials from '../components/testimonial/Testimonials.astro';
import Stats from '../components/Stats.astro';
---

<LayoutV2 title="Brasa Demo Template">
  <main>
    <div class="bodyWrapper">
      <Header />
    </div>
    <HeroCenter />
    <div class="bodyWrapper">
      <Features />
      <Stats />
      <Testimonials />
      <Team />
      <Contact />
      <Footer />
      <ScrollBtn client:idle />
    </div>
  </main>
</LayoutV2>

<!-- Hay forma de nombrar los slots o algo!! así esto lo armo directamente en el layout si vale la pena -->
