.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navIcons {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #ffffff;
  justify-content: space-between;
}

.navLogo {
  width: auto;
  height: 3rem;
  filter: invert(22%) sepia(96%) saturate(3117%) hue-rotate(240deg)
    brightness(93%) contrast(93%);
}

.drawer {
  display: flex;
  position: fixed;
  left: 100%;
  top: 0;
  padding-left: 3.5rem;
  padding-right: 5rem;
  padding-top: 10rem;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.87);
  flex-direction: column;
  width: 66.666667%;
  height: 100vh;
  z-index: 4;
}

.drawerActive {
  transform: translateX(-100%);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Gray Canva that appears when sidebar is open*/

.grayCanva {
  position: fixed;
  top: 0;
  right: 0;
  width: 0vw;
  height: 100vh;
  background-color: rgba(31, 27, 92, 0.7);
  z-index: 3;
}

.grayCanvaActive {
  width: 100vw;
  backdrop-filter: blur(2px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.linksContainerDrawer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socialsContainer {
  margin-top: 2rem;
  width: max-content;
}

.linksContainerDesktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .drawer {
    display: none;
  }

  .linksContainerDesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
  }
}
