@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss';

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 3rem;
  padding: 0.7rem 0;

  @include breakpoints.size(laptop) {
    padding: 1rem 0;
  }
}

.navIcons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: colors.$baseWhite;
  position: relative;

  @include breakpoints.size(laptop) {
    justify-content: space-between;
  }
}

.navLogoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @include breakpoints.size(laptop) {
    position: static;
    transform: translate(0);
  }
}

.navLogo {
  width: auto;
  height: 3rem;
  cursor: pointer;
}

.drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 100%;
  background-color: colors.$blue;
  width: 100%;
  height: 100vh;
  z-index: 4;

  @include breakpoints.size(laptop) {
    display: none;
  }
}

.drawerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
}

.drawerActive {
  transform: translateX(-100%);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.linksContainerDrawer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.socialsContainerDesktop {
  width: max-content;
  display: none;

  @include breakpoints.size(laptop) {
    display: block;
  }
}

.socialsContainerMobile {
  width: max-content;
  @include breakpoints.size(laptop) {
    display: none;
  }
}

.linksContainerDesktop {
  display: none;

  @include breakpoints.size(laptop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  @include breakpoints.size(desktop) {
    gap: 2rem;
  }
}
