---
---

<section>
  <div class="" id="contact">
    <div class="headerContainer">
      <h1 class="headerTitle">Contact Us</h1>
      <p class="headerText">
        Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical
        gentrify.
      </p>
    </div>
    <form action="" class="formContainer">
      <div class="inputContainer inputSizeHalf">
        <input type="text" id="name" name="name" class="input" />
        <label for="name" class="inputLabel">Name</label>
      </div>
      <div class="inputContainer inputSizeHalf">
        <input type="email" id="email" name="email" class="input" />
        <label for="email" class="inputLabel">Email</label>
      </div>
      <div class="inputContainer inputSizeFull">
        <textarea id="message" name="message" class="input inputMsg"></textarea>
        <label for="message" class="inputLabel">Message</label>
      </div>
      <button class="stdButton submitBtn">Submit</button>
      <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
        <a class="text-indigo-500">example@email.com</a>
        <p class="leading-normal my-5">
          49 Smith St.
          <br />Saint Cloud, MN 56301
        </p>
        <span class="inline-flex">
          <a class="text-gray-500">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
              ></path>
            </svg>
          </a>
          <a class="ml-4 text-gray-500">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              ></path>
            </svg>
          </a>
          <a class="ml-4 text-gray-500">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
              ></path>
            </svg>
          </a>
        </span>
      </div>
    </form>
  </div>
</section>

<style lang="scss">
  @use '../styles/colors.scss';
  @use '../styles/breakpoints.scss';
  @use '../styles/section.scss';

  section {
    @include section.wrapper;
  }

  //Header Styling

  .headerContainer {
    display: flex;
    margin-bottom: 3rem;
    text-align: center;
    flex-direction: column;
    width: 100%;
  }

  .headerTitle {
    @include section.title;
  }

  .headerText {
    @include section.text;
  }

  //Form Styling

  .formContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: -0.5rem;
    flex-wrap: wrap;

    @include breakpoints.size(tablet) {
      width: 66.666667%;
    }

    @include breakpoints.size(laptop) {
      width: 50%;
    }
  }

  .inputContainer {
    position: relative;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .inputSizeHalf {
    width: 50%;
  }

  .inputSizeFull {
    width: 100%;
  }

  .inputLabel {
    color: colors.$textParagraph;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  .input {
    cursor: text;
    padding: 0.25rem 0.75rem;
    background-color: #f3f4f6;
    color: colors.$textParagraph;
    font-size: 1rem;
    line-height: 2rem;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #d1d5db;
    outline: 0;
    resize: none;
    order: 1;

    &:focus {
      border-color: colors.$highlight;
      transition: all 0.1s ease-in-out;
    }

    &:focus + .inputLabel {
      color: colors.$highlight;
      font-weight: 600;
      transition: all 0.1s ease-in-out;
    }
  }

  .inputMsg {
    height: 10rem;
  }

  .submitBtn {
    background-color: colors.$highlight;
    color: colors.$baseWhite;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.6rem 2.5rem;
  }
</style>
