---
//Socials data imported from a json file
import socials from '/src/data/socials.json';

//Icon Component to import svg icons from a folder
import Icon from './utils/Icon.astro';
---

<section>
  <div class="" id="contact">
    <div class="headerContainer">
      <h1 class="headerTitle">Contact Us</h1>
      <p class="headerText">
        Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical
        gentrify.
      </p>
    </div>
    <form action="" class="formContainer">
      <div class="inputContainer inputSizeHalf">
        <input type="text" id="name" name="name" class="input" />
        <label for="name" class="inputLabel">Name</label>
      </div>
      <div class="inputContainer inputSizeHalf">
        <input type="email" id="email" name="email" class="input" />
        <label for="email" class="inputLabel">Email</label>
      </div>
      <div class="inputContainer inputSizeFull">
        <textarea id="message" name="message" class="input inputMsg"></textarea>
        <label for="message" class="inputLabel">Message</label>
      </div>
      <button class="stdButton submitBtn">Submit</button>
      <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
        <a class="text-indigo-500">example@email.com</a>
        <p class="leading-normal my-5">
          49 Smith St.
          <br />Saint Cloud, MN 56301
        </p>
        <span class="socialContainer">
          {
            socials.map((social) => {
              return (
                <a class="socialLink" target="_blank">
                  <Icon icon={social.name} folder="socials" />
                </a>
              );
            })
          }
        </span>
      </div>
    </form>
  </div>
</section>

<style lang="scss">
  @use '../styles/colors.scss';
  @use '../styles/breakpoints.scss';
  @use '../styles/section.scss';

  section {
    @include section.wrapper;
  }

  //Header Styling

  .headerContainer {
    display: flex;
    margin-bottom: 3rem;
    text-align: center;
    flex-direction: column;
    width: 100%;
  }

  .headerTitle {
    @include section.title;
  }

  .headerText {
    @include section.text;
  }

  //Form Styling

  .formContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

    @include breakpoints.size(tablet) {
      width: 66.666667%;
    }

    @include breakpoints.size(laptop) {
      width: 50%;
    }
  }

  .inputContainer {
    position: relative;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .inputSizeHalf {
    width: 50%;
  }

  .inputSizeFull {
    width: 100%;
  }

  .inputLabel {
    color: colors.$textParagraph;
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  .input {
    cursor: text;
    padding: 0.25rem 0.75rem;
    background-color: #f3f4f6;
    color: colors.$textParagraph;
    font-size: 1rem;
    line-height: 2rem;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #d1d5db;
    outline: 0;
    resize: none;
    order: 1;

    &:focus {
      border-color: colors.$highlight;
      transition: all 0.1s ease-in-out;
    }

    &:focus + .inputLabel {
      color: colors.$highlight;
      font-weight: 600;
      transition: all 0.1s ease-in-out;
    }
  }

  .inputMsg {
    height: 10rem;
  }

  .submitBtn {
    background-color: colors.$highlight;
    color: colors.$baseWhite;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.6rem 2.5rem;
  }

  .socialContainer {
    display: inline-flex;
    margin-top: 1rem;
    justify-content: center;
    gap: 0.7rem;

    @include breakpoints.size(phoneL) {
      margin-top: 0;
      margin-left: auto;
      justify-content: flex-start;
    }
  }

  .socialLink {
    color: colors.$baseGray;
    cursor: pointer;
  }
</style>
