---
---

<section class="sectionWrapper">
  <div class="" id="features">
    <h1 class="sectionTitle">Features</h1>
    <div class="featuresContainer">
      <div class="feature">
        <div class="featureIconContainer">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="featureIcon"
            viewBox="0 0 24 24"
          >
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="featureInfo">
          <h2 class="featureTitle">Shooting Stars</h2>
          <p class="featureDescription">
            Blue bottle crucifix vinyl post-ironic four dollar toast vegan
            taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi
            pug VHS try-hard ugh iceland kickstarter tumblr live-edge tilde.
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="featureIconContainer">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="featureIcon"
            viewBox="0 0 24 24"
          >
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
        </div>
        <div class="featureInfo">
          <h2 class="featureTitle">The Catalyzer</h2>
          <p class="featureDescription">
            Blue bottle crucifix vinyl post-ironic four dollar toast vegan
            taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi
            pug VHS try-hard ugh iceland kickstarter tumblr live-edge tilde.
          </p>
        </div>
      </div>
      <div class="feature">
        <div class="featureIconContainer">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="featureIcon"
            viewBox="0 0 24 24"
          >
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="featureInfo">
          <h2 class="featureTitle">Neptune</h2>
          <p class="featureDescription">
            Blue bottle crucifix vinyl post-ironic four dollar toast vegan
            taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi
            pug VHS try-hard ugh iceland kickstarter tumblr live-edge tilde.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @import '../styles/variables.css';

  .featuresContainer {
    display: flex;

    flex-wrap: wrap;
  }

  .feature {
    display: flex;
    padding: 1rem;
  }

  .featureIconContainer {
    display: inline-flex;
    margin-bottom: 1rem;
    background-color: #e0e7ff;
    color: var(--highlight);
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
  }

  .featureIcon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .featureInfo {
    padding-left: 1.5rem;
    flex-grow: 1;
  }

  .featureTitle {
    margin-bottom: 0.5rem;
    color: var(--baseBlack);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  .featureDescription {
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.625;
  }

  @media (min-width: 640px) {
    .featuresContainer {
      margin: -1rem;
    }
  }
  @media (min-width: 768px) {
    .featuresContainer {
      margin-top: 0;
    }

    .feature {
      width: 33.333333%;
    }
  }
</style>
