---
//Icon Component to import svg icons from a folder
import Icon from './utils/Icon.astro';

//Logo url in public and alt text
const company = 'Brasa Demo';

//Socials data imported from a json file
import socials from '../data/socials.json';
---

<footer>
  <div class="footerWrapper">
    <a href="#top" class="logo"
      ><Icon folder="brand" variant="" icon="alpha_logo" /></a
    >
    <p class="text">
      © <span id="yearHolder"></span> - {company}
    </p>
    <span class="socialContainer">
      {
        socials.map((social) => {
          return (
            <a class="socialLink" target="_blank">
              <Icon icon={social.name} variant="_circle" folder="socials" />
            </a>
          );
        })
      }
    </span>
  </div>
</footer>

<style lang="scss">
  @use '../styles/colors.scss';
  @use '../styles/breakpoints.scss';

  .footerWrapper {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoints.size(phoneL) {
      flex-direction: row;
    }
  }

  .text {
    margin-top: 1rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;

    @include breakpoints.size(phoneL) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      margin-top: 0;
      margin-left: 1rem;
      border-left-width: 2px;
      border-color: #e5e7eb;
    }
  }

  .logo {
    //Icon takes size,cursor and color of container
    color: colors.$highlight;
    width: auto;
    height: 3rem;
    cursor: pointer;
  }

  .socialContainer {
    display: inline-flex;
    margin-top: 1rem;
    justify-content: center;
    gap: 0.7rem;

    @include breakpoints.size(phoneL) {
      margin-top: 0;
      margin-left: auto;
      justify-content: flex-start;
    }
  }
  .socialLink {
    color: colors.$baseGray;
    cursor: pointer;
    width: 1.5rem;
  }
</style>

<script>
  //Current Year Calculation as a script to be executed on client-side
  const year = new Date().getFullYear().toString();
  const yearHolder = document.querySelector('#yearHolder');
  yearHolder.innerHTML = `${year}`;
</script>
