---
const heroImg = '/assets/images/heroImage.svg';
---

<section class="heroWrapper">
  <div class="heroContainer">
    <div class="heroInfoContainer">
      <h1 class="heroTitle">
        Before they sold out<br class="hidden lg:inline-block" />
        <span class="heroTitleStrong">readymade gluten</span>
      </h1>
      <p class="heroText">
        Copper mug try-hard pitchfork pour-over freegan heirloom neutra air
        plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk
        tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard
        chambray.
      </p>
      <a href="#contact"
        ><button class="stdButton heroButton">Contact us!</button></a
      >
    </div>
    <div class="imgContainer">
      <img class="img" width="720" height="600" alt="hero" src={heroImg} />
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/colors.scss';
  @use '../styles/breakpoints.scss';

  /*Overwrite sectionWrapper padding-top for Hero*/
  .heroWrapper {
    /*15vh is the navbar fixed height in navbar.module.css*/
    min-height: 85vh;
    padding-top: 3rem;

    @include breakpoints.size(tablet) {
      padding-top: 6rem;
    }
  }

  .heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoints.size(tablet) {
      flex-direction: row;
    }
  }

  .heroInfoContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    align-items: flex-start;

    @include breakpoints.size(tablet) {
      padding-right: 4rem;
      margin-bottom: 0;
      text-align: left;
      align-items: flex-start;
      width: 50%;
    }

    @include breakpoints.size(desktop) {
      padding-right: 6rem;
      flex-grow: 1;
    }
  }

  .heroTitle {
    margin-bottom: 1rem;
    color: colors.$textTitle;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;

    @include breakpoints.size(tablet) {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }

  .heroTitleStrong {
    color: colors.$highlight;
  }

  .heroText {
    margin-bottom: 2rem;
    line-height: 1.625;
  }

  /*Basic style for Btns comes from global sheet. Only set color for background, font and hover*/

  .heroButton {
    background-color: colors.$highlight;
    color: colors.$baseWhite;
  }

  .imgContainer {
    width: 83%;
    /* width: 100vw; */
    @include breakpoints.size(tablet) {
      width: 50%;
    }

    @include breakpoints.size(tablet) {
      width: 100%;
      max-width: 42rem;
    }
  }

  .img {
    object-fit: cover;
    object-position: center;
    /* border-radius: 0.25rem; */
  }
</style>
