---
---

<section class="heroWrapper">
  <div class="heroContainer">
    <div class="heroInfoContainer">
      <h1 class="heroTitle">
        Before they sold out<br class="hidden lg:inline-block" />
        <span class="heroTitleStrong">readymade gluten</span>
      </h1>
      <p class="heroText">
        Copper mug try-hard pitchfork pour-over freegan heirloom neutra air
        plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk
        tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard
        chambray.
      </p>
      <a href="#contact"
        ><button class="stdButton heroButton">Contact us!</button></a
      >
    </div>
    <div class="imgContainer">
      <img
        class="img"
        width="720"
        height="600"
        alt="hero"
        src="https://images.unsplash.com/photo-1679214523091-a9f9697ed10c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=720&q=80&h=600"
      />
    </div>
  </div>
</section>

<style>
  @import '../styles/variables.css';

  /*Overwrite sectionWrapper padding-top for Hero*/
  .heroWrapper {
    /*15vh is the navbar fixed height in navbar.module.css*/
    min-height: 85vh;
    padding-top: 3rem;
  }

  .heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heroInfoContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    align-items: flex-start;
  }

  .heroTitle {
    margin-bottom: 1rem;
    color: var(--textTitle);
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;
  }

  .heroTitleStrong {
    color: var(--highlight);
  }

  .heroText {
    margin-bottom: 2rem;
    line-height: 1.625;
  }

  /*Basic style for Btns comes from global sheet. Only set color for background, font and hover*/

  .heroButton {
    background-color: var(--highlight);
    color: var(--baseWhite);
  }

  .imgContainer {
    /* width: 100%; */
    width: 100vw;
    overflow-x: hidden;
  }

  .img {
    object-fit: cover;
    object-position: center;
    border-radius: 0.25rem;
  }

  /*Media Queries*/

  @media (min-width: 768px) {
    .heroWrapper {
      padding-top: 6rem;
    }

    .heroContainer {
      flex-direction: row;
    }

    .heroInfoContainer {
      padding-right: 4rem;
      margin-bottom: 0;
      text-align: left;
      align-items: flex-start;
      width: 50%;
    }

    .heroTitle {
      font-size: 3rem;
      line-height: 3.5rem;
    }

    .imgContainer {
      width: 50%;
    }
  }
  @media (min-width: 1024px) {
    .heroInfoContainer {
      padding-right: 6rem;
      flex-grow: 1;
    }

    .imgContainer {
      width: 100%;
      max-width: 32rem;
    }
  }
</style>

<!-- title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 -->
