---
import testimonials from './testimonials';
import Client from './Client.astro';
---

<section>
  <div class="" id="testimonials">
    <div class="sectionLayout">
      <div class="headerContainer">
        <h2 class="headerTitle">Testimonials</h2>
        <p class="headerText">
          Pri ex magna scaevola moderatius. Nullam accommodare no vix, est ei
          diceret alienum, et sit cetero malorum. Et sea iudico consequat, est
          sanctus adipisci ex.
        </p>
      </div>
      <div class="testimonialsContainer">
        {
          testimonials.map((testimonial) => {
            return <Client {...testimonial} />;
          })
        }
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../../styles/colors.scss';
  @use '../../styles/breakpoints.scss';
  @use '../../styles/section.scss';

  section {
    @include section.wrapper;
  }

  .sectionLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include breakpoints.size(desktop) {
      flex-direction: row;
    }
  }

  .headerContainer {
    margin: 2 auto;
    text-align: center;

    @include breakpoints.size(desktop) {
      text-align: left;
      flex: 0 0 40%;
    }
  }

  .headerTitle {
    @include section.title;
  }

  .headerText {
    @include section.text;
  }

  .testimonialsContainer {
    display: grid;
    padding: 1.5rem;
    gap: 1rem;

    @include breakpoints.size(tablet) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
